<section id="hero" class="d-flex justify-cntent-center align-items-center">

    <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">

        <div class="carousel-item active">

            <div class="carousel-container">

<<<<<<< HEAD
                <h2 class="animated fadeInDown">{{pollTitle}}</h2>
=======
                <h2 class="animated fadeInDown">{{poll.title}}</h2> 
>>>>>>> 464eb2ab3ce14805a48e22dee6b8003683b118cc
                <form>
                    <div id='options'>

                    </div>
                    <div> <button class="submit-button animated fadeInUp" id="voteButton">Vote</button> </div>
                </form>
                <p id="message"></p>
                <button class="submit-button animated fadeInUp" id='copyUrl'>Copy link</button>
                <input class="create-input option animated fadeInUp" type="text" id="urlText" readonly>

            </div>

        </div>

    </div>
<<<<<<< HEAD
    <script>
        var options = '{{{json options}}}'
        const pollId = '{{json pollId}}'
    </script>
    <script src='/js/vote.js'></script>
=======
<script>
    const options = JSON.parse('{{{json poll.options}}}')
    const pollId = '{{json poll.id}}'
</script>
<script src='/js/vote.js'></script>
<script src='/js/copyUrl.js'></script>
>>>>>>> 464eb2ab3ce14805a48e22dee6b8003683b118cc
