<section id="hero" class="d-flex justify-cntent-center align-items-center">

    <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">

        <div class="carousel-item active">

            <div class="carousel-container">
                <h2 class="animated fadeInDown">{{poll.title}}</h2>
                <time timedate="{{formatDate poll.dateCreated}}">Created: {{formatDate poll.dateCreated}}</time>
                <p>ID: <span id="pollId">{{poll.id}}</span></p>
                <form>
                    <fieldset id='options'>

                    </fieldset>
                    <button class="submit-button animated fadeInUp" id="voteButton">Vote</button>
                </form>
                <p>Total votes: <span id="totalVotes">{{poll.totalVotes}}</span></p>
                <p id="message"></p>
                <button class="submit-button animated fadeInUp" id='copyUrl'>Copy link</button>
                <input class="option animated fadeInUp" type="text" id="urlText" readonly>
                <input type="text" id='pollOptionsData' value='{{json poll.options}}' hidden readonly>
            </div>

        </div>

    </div>
</section>
<!-- ======= Graph Section ======= -->
<section class="features">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Chart</h2>
            <p>How do the results look like?</p>
            <form id="chartChoose">
                <input type="button" name="chart" id="barButton" value="Bar Graph">
                <input type="button" name="chart" id="pieButton" value="Pie Graph">
            </form>
        </div>
        <figure>
            <canvas id="pollChart"></canvas>
            <figcaption></figcaption>
        </figure>
    </div>
</section>
<!-- End Graph Section -->
<script>
    const poll = (function () {
        const options = JSON.parse(document.getElementById('pollOptionsData').value)
        const pollId = document.getElementById('pollId').textContent
        let html = ''
        for (let i = 0; i < options.length; i++) {
            let option = options[i].option.replace(/["]+/g, '&quot;')
            let votes = options[i].votes
            html += '<input id="' + option + '" type="radio" name="option" value="' + option + '">'
            html += '<label for="' + option + '">' + option + ' - ' + votes + ' votes</label><br>'
        }
        return {
            options,
            id: pollId,
            html
        }
    })()
    document.querySelector('#options').innerHTML = poll.html
    document.querySelector("input").checked = true
</script>
<script src='/js/resources/jquery-3.4.1.min.js'></script>
<script src='/js/resources/chart.min.js'></script>
<script src='/js/voting/sendVote.js'></script>
<script src='/js/voting/createChart.js'></script>
<script src='/js/voting/chartCaption.js'></script>
<script src='/js/utils/copyUrl.js'></script>